<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CRM</title>

  <script>
    window.APP_METADATA = {
      deployEnv: 'qa',
      publicPath: '/'
    };
  </script>
</head>

<body class="body">
  <div id="root"></div>
  <div id="loading">
    <div class="ant-spin ant-spin-lg ant-spin-spinning">
      <span class="ant-spin-dot ant-spin-dot-spin">
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
      </span>
    </div>
  </div>
</body>

</html>
